@media (min-width: 993px) and (max-width: 1200px) {
    header {
    background-color: rgb(133, 19, 204);
    }
    }

    @media (min-width: 769px) and (max-width: 992px) {
        header {
        background-color: rgb(64, 159, 0);
        }
        }

        @media (min-width: 601px) and (max-width: 768px) {
            header {
            background-color: lightcoral;
            }
            }


@media only screen and (max-width: 600px){
    
    #bag-1{
        background-color: #ede6e6;
    }

    .logo-1{
    text-align: center;

    }
    .logo-1 img{
        width: 10px;
        margin: auto;
        margin-top: 20px;
    }
    .sercebar-1{
        text-align: right;
        padding-right: 40px;

    }

    .sercebar-1 img{
        width:20px;
        margin-top: 35px;
        cursor: pointer;
    }

    .manu-1 ul{
        text-align: center;
        margin-top: 15px;
    }

    .manu-1 ul li{
        display: inline;
        word-spacing: 40px;
        
        
    }

    .manu-1 ul li a{
        text-decoration: none;
        font-size: 16px;
        color: white;
        padding: 5px 15px;
        border: rgba(101, 92, 92, 0.092) 1px solid;

    }

    .manu-1 ul li a:hover{
        background-color: rgba(148, 150, 150, 0.431);
        box-shadow: rgba(70, 68, 68, 0.401) 4px 4px;
    }

    /*--=======================Header part End================--*/

    /*--=======================body  part-1 start================--*/

    .row-1{
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        line-height:200px;
    }

    .man{
        position: relative;
    }
    .ti{
        position: absolute;
        margin-top:180px;
        padding-left:70px;
        font-size: 70px;
        color: white;
        font-family: "Oswald";
        
    }

    .lo-1{
        position: absolute;
        margin-top: 320px;
        display: grid;
        grid-template-columns: 3fr 3fr 1.5fr ;
        font-size: 20px;
        line-height: 2rem;
        font-family:"Oswald";
        margin-left: 75px;
        color: white;
    }

    .reg-1{
        position: absolute;
        margin: 340px 80px;
    }

    .reg-1 ul li{
    display: inline;

    }

    .reg-1 ul li a{
        text-decoration: none;
        font-size: 16px;
        color: white;
        padding: 4px 25px;
        background-color: #FF6306;
        border: rgba(101, 92, 92, 0.092) 1px solid;
        border-radius: 2px;
    }

    .reg-1 ul li a:hover{
        background-color: rgba(148, 150, 150, 0.431);
        box-shadow: rgba(70, 68, 68, 0.401) 4px 4px;
    }

    /*--=======================body  part-1 End================--*/

    /*--=======================body  part-2 start================--*/

    #bag-3{
        background-color: #FF6306;
        padding-bottom: 50px;
        width: 90%;
        margin: auto;
        gap: 20px;
    }
    .row-2{
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    .ti-1{
        grid-row: 1;
        grid-column: 1/-1;
        text-align: center;
        font-size: 30px;
        color: white;
        margin-top: 20px; 
    }

    .lo-2{
        grid-row: 2;
        grid-column: 2/-2;
        text-align: center;
        font-size: 20px;
        color: white;
        margin-top: 20px;
    }

    .para-1{
        grid-row: 3;
        grid-column: 2/-4; 
        text-align: center;
        background-color: #2B2B2B;
        gap: .5fr;
        color: white;
    }
    .para-2{
        grid-row: 3;
        grid-column: 3/-3;
        text-align: center;
        background-color: #2B2B2B;
        color: white;
    }

    .para-3{
        grid-row: 3;
        grid-column: 4/-2;
        text-align: center;
        background-color: #2B2B2B;
        color: white;
    }

    .dan{
        
        grid-column: 1/-3;
        grid-row: 4/-1;
        background-image: url(/PHOTOS/laer-bam.png);
        float: left;
    }

    /*--=======================body  part-2 End================--*/

    /*--=======================body  part-3 start================--*/


    .row-3{
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
        
        
    }
    #bag-31{
        background-color: #2B2B2B;
    }

    .ti-11{
        grid-row: 1;
        grid-column: 1/-1;
        text-align: center;
        font-size: 50px;
        color: white;
        margin-top: 40px; 
    }

    .lo-21{
        grid-row: 2;
        grid-column: 2/-2;
        text-align: center;
        font-size: 20px;
        color: white;
        padding: 40px;
    }

    .para-11{
        grid-row: 3;
        grid-column: 2/-4; 
        text-align: center;
        color: white;
        background-color: #FF6306;
        
    }
    .para-21{
        grid-row: 3;
        grid-column: 3/-3;
        text-align: center;
        color: white;
        background-color: #FF6306;
    }

    .para-31{
        grid-row: 3;
        grid-column: 4/-2;
        text-align: center;
        color: white;
        background-color: #FF6306;
    }

    .sobi-11{
        width: 50px;
        margin: 15px;
    }

    .sobi-21{
        width: 50px;
        margin: 15px;
    }

    .sobi-31{
        width: 50px;
        margin: 15px;
    }

    .loa-11{
        font-size: 10px;
    }
    .loa-21{
        font-size: 10px;
    }
    .loa-31{
        font-size: 10px;
    }
    .dolar-1{
        background-color: #2C2C2C;
        border: #FF6306 solid 2px;
    }
    .ddd{
        grid-row: 4;
        grid-column: 1/-1;
        height: 40px;
    }

    /*--=======================body  part-3 End================--*/


    /*--=======================body  part-4 start================--*/
    #bag-41{
        background-color: #FF6306;
    }
    .row-4{
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: 
    }

    .wow{
        width: 100%;
        height:400px;
        margin-top: 0px;
    }
    .her{
        color: white;
        margin-top: 100px;
        text-align:left;
        font-size: 30px;
        padding-left: 50px;
    }

    .pa{
        color: white;
        text-align:left;
        padding-left: 50px;
        font-size: 12px;
    }

    .reg-3 ul{
        margin-left: 50px;
        margin-top: 30px;
    }

    .reg-3 ul li{
        display: inline;

    }

    .reg-3 ul li a{
        text-decoration: none;
        font-size: 16px;
        color: white;
        padding: 5px 15px;
        border: rgba(101, 92, 92, 0.092) 1px solid;
        background-color: #2B2B2B;
        border-radius: 5px;
    }

    .reg-3 ul li a:hover{
        background-color: rgba(148, 150, 150, 0.431);
        box-shadow: rgba(70, 68, 68, 0.401) 4px 4px;
        transition: .2s;
    }

    /*--=======================body  part-4 End================--*/

    /*--=======================body  part-5 start================--*/
    #bag-51{
        background-color: #FF6306;
    }
    .row-5{
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
    }

    .wow-52{
        align-items: center;
        
    }
    .her-1{
        color: white;
        margin-top: 50px;
        text-align:left;
        margin-left: 80px;
        font-size: 30px;
        padding-right: 50px;
    }

    .pa-51{
        color: white;
        text-align:left;
        margin-left: 80px;
        font-size: 12px;
    }
    .reg-51{
    margin-left: 80px;
    margin-top: 30px;
    }

    .reg-51 ul{
        
        margin-right: 40px;
        margin-top: 15px;
    }

    .reg-51 ul li{
        display: inline;
    }

    .reg-51 ul li a{
        text-decoration: none;
        font-size: 16px;
        color: white;
        padding: 5px 15px;
        border: rgba(101, 92, 92, 0.092) 1px solid;
        background-color: #2B2B2B;
        border-radius: 5px;
    }

    .reg-51 ul li a:hover{
        background-color: rgba(148, 150, 150, 0.431);
        box-shadow: rgba(70, 68, 68, 0.401) 4px 4px;
        transition: .2s;
    }

    /*--=======================body  part-5 End================--*/

    /*--=======================body  part-6 start================--*/
    .row-6{
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(1fr,1fr 1fr);
        line-height: 30px;
        height: 400px;
    }

    #bag-61{
        background-color: #2B2B2B;
    }
    .our{
        grid-row: 1;
        grid-column: 1/-1;
        margin: auto;
        text-align: center;
        margin-top: 30px;
        color: white;
    }

    .LORM{
        grid-row: 2;
        grid-column: 2/-2;
        padding: 0px 80px;
        color: white;
        font-size: 12px;
        text-align: center;
    }

    .CLUB-1{
        grid-row: 3;
        grid-column: 2/-4;
        text-align: center;
        color: white;
    }

    .CLUB-2{
        grid-row: 3;
        grid-column: 3/-3;
        text-align: center;
        color: white;
    }
    .CLUB-3{
        grid-row: 3;
        grid-column: 4/-2;
        text-align: center;
        color: white;
    }
    /*--=======================body  part-6 End================--*/

    /*--=======================body  part-7 Start================--*/


    .row-7{
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
        
    }

    .imga-1{
        grid-row: 1;
        grid-column: 1/-1;
        height: 600px;
        
        

    }
    .colar-1{
        grid-row: 1;
        grid-column: 1/-1;
        height: 600px;
        background-color: #58060696;
        opacity: .8;
    }

    .LORM-2{
        grid-row: 1;
        grid-column: 2/-2;
        text-align: center;
        margin-top: 200px;
        color: rgb(255, 255, 255);
    }

    .our-2{
        grid-row: 1;
        grid-column: 2/-2;
        text-align: center;
        margin-top: 300px;
        color: rgb(254, 254, 254);
    }

    /*--=======================body  part-7 End================--*/

    /*--=======================body  part-8 srart================--*/
    .row-8{
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .BAG-1{
        grid-row: 1;
        grid-column: 1/-1;
        height: 450px;
        background-color: #FF6306;
    }
    .dan-4{
        grid-row: 1;
        grid-column: 2/-1;
        height: 450px;
    }
    .bam-4{
        grid-row: 1;
        grid-column: 1/-2;
        height: 450px;
    }
    .subsc-1{
        grid-row: 1;
        grid-column: 2/-2;
        text-align: center;
        margin-top: 100px;
        color: white;
    }

    .iprem-1{
        grid-row: 1;
        grid-column: 2/-2;
        text-align: center;
        margin-top: 160px;
        color: white;
        font-size: 15px;
    }
    .sub-9{
        grid-row: 1;
        grid-column: 2/-2;
        text-align:left;
        margin-left: 40px;
        width: 200px;
        margin-top: 300px;
    }
    .email-1{
        height: 30px;
        padding-left: 5px;
        border: #6a6868 2px solid;
    }
    .mit-5{
        grid-row: 1;
        grid-column: 2/-2;
        margin-left: 240px;
        width: 90px;
        margin-top: 300px;
        
    }


    .submite-5{
        padding: 5px;
        background-color: #2C2C2C;
        color: white;
        cursor:pointer;
    }
    /*--=======================body  part-8 End================--*/
    /*--=======================  footer-Stat================--*/


    .footer-1{
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
    .ba-1{
        grid-row: 1;
        grid-column: 1/-1;
        background-color: #2B2B2B;
        height: 400px;
    }


    .musi{
        grid-row: 1;
        grid-column: 1/-4;
        color: white;
        margin-top: 50px;
        margin-left: 50px;
    }
    .dolor-1{
        grid-row: 1;
        grid-column: 1/-5;
        color: white;
        margin-top: 110px;
        margin-left: 50px;
        font-size: 20px;
    }

    .bar-11{
        grid-row: 1;
        grid-column: 1/-4;
        width: 40px;
        background-color: #2B2B2B;
        margin-top: 280px;
        margin-left: 50px;
    }

    .bar-12{
        grid-row: 1;
        grid-column: 1/-4;
        width: 40px;
        background-color: #2B2B2B;
        margin-top: 280px;
        margin-left: 100px;
    }
    .bar-13{
        grid-row: 1;
        grid-column: 1/-4;
        width: 40px;
        background-color: #2B2B2B;
        margin-top: 280px;
        margin-left: 150px;
    }
    .bar-14{
        grid-row: 1;
        grid-column: 1/-4;
        width: 40px;
        background-color: #2B2B2B;
        margin-top: 280px;
        margin-left: 200px;
    }

    .ab-1{
        grid-row: 1;
        grid-column: 4/-3;
        margin-top: 50px;
        text-align: center;
        color: white;
    }

    .ab-2{
        grid-row: 1;
        grid-column: 4/-3;
        margin-top: 110px;
        text-align: center;
        color: white;
        padding: 5px;
    }

    .ab-3{
        grid-row: 1;
        grid-column: 5/-2;
        margin-top: 50px;
        text-align: center;
        color: white;
    }

    .ab-4{
        grid-row: 1;
        grid-column: 5/-2;
        margin-top: 110px;
        text-align: center;
        color: white;
        padding: 5px;
    }

    .ab-5{
        grid-row: 1;
        grid-column: 6/-1;
        margin-top: 50px;
        text-align: center;
        color: white;
    }

    .ab-6{
        grid-row: 1;
        grid-column: 6/-1;
        margin-top: 110px;
        text-align: center;
        color: white;
        padding: 5px;
    }
    .ZAKIR{
        grid-row: 1;
        grid-column: 1/-1;
        margin-top: 360px;
        text-align: center;
        color: white;
        background-color: #4a4646;
        padding: 7px;
        font-size: 30px;
    }
}
    /*--=======================  footer-End================--*/



